<h1 id="welcome"></h1>
<h3 id="email"></h3>
<h1 id="welcome">{{user.user.name}}</h1>
<h3 id="email">{{user.user.email}}</h3>

<ul id="productos">
    {{#each produ}}
    <div class="product">
        <img class="img" src={{this.thumbnail}}>
        <h1 class="nombre">{{this.title}}</h1>
        <h3 class="desc">{{this.description}}</h3>
        <h5 class="code">code:{{this.code}}</h5>
        <h4 class="desc">precio:{{this.price}}</h4>
        <br>
        <div><button type="button" id="agregar">agregar al carrito</button></div>
        <br>
    </div>
    {{/each}}
    <br>
    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    {{page}}
    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
</ul>
<button id="logout"> cerrar sesion</button>

<script src="/scr/public/js/home.js"></script>
<script src='/js/home.js'></script>